#primary-nav{display:none}


form#miroForm {
    font-size: 1.5em;
}

#qNum {
      font-size: 0.9em;
}

#addNewPanel {
	color: #333;
	padding: 15px 20px 20px;
	border-top: 1px solid #d7d7d7;
	margin: 0 0 1.5em;
	background: #f6f6f6 
}

form#addNewForm {
    font-size: 1.0em;
}

table#sendEmailReportUITable th {
	background: #E9E9E9;
	border-bottom: 2px solid #fff;
	color: #000000;
	font-size: 13px;
	font-weight: bold;
	padding: 5px;
	margin-bottom: 10px;
}


table#sendEmailReportUITable  {
border:1px solid #CCCCCC;
margin-bottom:20px;
width:100%;
}



span.status0 {
  background-color: #24A89E;
  color: #ffffff;
  padding: 3px;
}

span.status10 {
  background-color: #C87800;
  color: #ffffff;
  padding: 3px;
}

span.status30 {
  background-color: #7A4A77;
  color: #ffffff;
  padding: 3px;
}


span.status40 {
  background-color: #334E7D;
  color: #E9E9E9;
  padding: 3px;
}





