Dear ${user.firstName}

Congratulations on becoming a fully accredited MiRo practitioner. An account has been set up for you.

Your login details are:

Username: ${user.username}
Password: ${user.confirmPassword}
Login at: ${applicationURL}

Best regards, 

MiRo Psychometrics Ltd 